<app-layout>

    <div class="container">

        <div class="field">
            <label>Preferred Country</label>
            <div class="dropdown" (click)="toggleDropdown()">
                {{ selectedCountry }}
                <span class="arrow">▼</span>
            </div>
            @if (isDropdownOpen){
            <div class="dropdown-menu">
                @for (country of countries; track $index) {
                <div class="option" (click)="selectCountry(country, $event)">
                    {{ country }}
                </div>}
            </div>
            }
        </div>

        <div class="field">
            <label>City</label>
            <div class="input-box">Melbourne</div>
        </div>

        <div class="field">
            <label>University</label>
            <div class="input-box">Monash University</div>
        </div>

        <div class="card">
            <p class="title">Estimated Yearly Total</p>
            <!-- <h1>$34,850 <span>AUD</span></h1> -->

            <div class="cost-breakdown">
                <div class="box">
                    <p>Tuition Fee</p>
                    <!-- <h3>$22,000</h3> -->
                </div>
                <div class="box">
                    <p>Living Expenses</p>
                    <!-- <h3>$12,850</h3> -->
                </div>
            </div>

            <!-- <div class="tip">
                💡 Tip: Saving 10% on rent covers your transport.
            </div> -->
        </div>

    </div>
</app-layout>