/* HERO SECTION */
.sop-section {
  padding: 60px 20px;
  background: #071426;
  color: white;
}

.hero-text h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-text p {
  display:flex;
  justify-content: center;
  color: #9ca3af;
  max-width: 500px;
  margin-bottom: 40px;
  margin-left:534px;
}

/* CARD */
.card-section{
  display: flex;
  justify-content: center;
}
.sop-card {

  background: linear-gradient(180deg, #0b1b2b, #071426);
  border-radius: 24px;
  overflow: hidden;
  max-width: 420px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.5);
  // margin-left: 574px;

}

.card-image {
  width: 100%;
  height: 262px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  font-size: 22px;
}

.card-content p {
  color: #9ca3af;
  font-size: 14px;
  line-height: 1.6;
}

/* BUTTON */
.cta-btn {
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right, #4ade80, #22c55e);
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  transform: scale(1.05);
}


/* STEPS SECTION */
.steps-section {
  padding: 80px 20px;
  background: #071426;
  text-align: center;
}

.steps-title {
  font-size: 32px;
  margin-bottom: 50px;
}

.steps-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.step {
  max-width: 260px;
}

.circle {
  width: 90px;
  height: 90px;
  background: linear-gradient(
      to right,
      #4ade80,
      #22c55e);
  color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  margin: 0 auto 20px;
}

/* HIGHLIGHT STEP 4 */
.highlight .circle {
  background: linear-gradient(to right, #4ade80, #22c55e);
  color: black;
}

.highlight h3 {
  color: white;
}

/* TEXT */
.step h3 {
  font-size: 18px;
}

.step p {
  color: #6b7280;
  font-size: 14px;
  line-height: 1.6;
}

/* CTA */
.bottom-cta {
  margin-top: 50px;
  padding: 14px 30px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right, #4ade80, #22c55e);
  font-weight: 600;
  cursor: pointer;
}

.bottom-cta:hover {
  transform: scale(1.05);
}